
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

.box-color-lost{
    background-color: #e2b6b3;
    border-color: #cea7a7;
}

.box-color-win{
    background-color: #9fdf9f;
}

.game-result-lost{
    color: #c6443e;
}

